OIDC_ISSUER_URI=http://localhost:8000
OIDC_JWK_SET_URI=http://localhost:8000/.well-known/jwks
OIDC_CLIENT_ID=banking-core
CORS_ALLOWED_ORIGINS=http://localhost:3000
CURRENCIES_SERVICE_URL=http://localhost:8081
BOOTSTRAP_SERVERS=localhost:9092
KAFKA_LISTENER_AUTO_STARTUP=true
